[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "braidReports"]
	path = braidReports
	url = https://github.com/cran/braidReports
[submodule "braidrm"]
	path = braidrm
	url = https://github.com/nathanieltwarog/braidrm
[submodule "rtms"]
	path = rtms
	url = https://github.com/cran/rtms
