[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "braidReports"]
	path = braidReports
	url = https://github.com/cran/braidReports
	shallow = true
	registered = true
[submodule "braidrm"]
	path = braidrm
	url = https://github.com/nathanieltwarog/braidrm
	shallow = true
	registered = true
[submodule "rtms"]
	path = rtms
	url = https://github.com/cran/rtms
	shallow = true
	registered = true
